.header__logo {
  padding-bottom: 41px;
  max-width: 142px;
}
@media screen and (max-width: 900px) {
  .header__logo {
    padding-left: 27px;
    padding-bottom: 31.6px;
    max-width: 103.74px;
  }
}
