.popup__title {
  font-family: "Inter", "Arial", "Helvetica", "sens-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  width: 100%;
  padding-top: 34px;
  padding-bottom: 54px;
  margin: 0;
  text-align: start;
}
@media screen and (max-width: 760px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding-top: 25px;
    padding-bottom: 75px;
  }
}
