.img-popup__title{
font-family: 'Inter',"Arial", "Helvetica", "sens-serif";
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
margin-bottom: 0;
text-align: start;
}