.popup__input {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Inter", "Arial", "Helvetica", "sens-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 9px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
}
.popup__input:last-of-type {
  margin-top: 0px;
}
@media screen and (max-width: 550px) {
  .popup__input {
  }
}
